@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager


@if (signInManager.IsSignedIn(User))
{
    var loggedInUser = await userManager.GetUserAsync(User);

    <div class="dropdown">
        <a class="nav-link text-dark dropdown-toggle" type="button" id="accountdropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Hello @loggedInUser.UserName!
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountdropdown">
        <li><a class="dropdown-item" asp-controller="Books" asp-action="List" asp-route-id="@loggedInUser.Id">My books</a></li>
        <li><a class="dropdown-item" asp-controller="Films" asp-action="List" asp-route-id="@loggedInUser.Id">My films</a></li>
        <li><a class="dropdown-item" asp-controller="Series" asp-action="List" asp-route-id="@loggedInUser.Id">My series</a></li>
        <li><a class="dropdown-item" asp-controller="Games" asp-action="List" asp-route-id="@loggedInUser.Id">My games</a></li>
        <li><a class="dropdown-item" asp-controller="Account" asp-action="Index">Settings</a></li>
        </ul>
    </div>

    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
