@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

@model OverviewModel

@{
    ViewData["Title"] = "Home Page";
    var loggedInUser = await userManager.GetUserAsync(User);

    if (loggedInUser != null)
    {  
        <h1>Welcome back @loggedInUser.UserName!</h1>
        <a asp-controller="Home", asp-action="SetOverview", asp-route-id="0">week</a>
        <a asp-controller="Home", asp-action="SetOverview", asp-route-id="1">two weeks</a>
        <a asp-controller="Home", asp-action="SetOverview", asp-route-id="2">month</a>
        <p>Time spent on films this @Model.Period: @Model.TimeSpentOnFilmsInMinutes</p>
        <p>Episodes watched of series this @Model.Period: @Model.EpisodesWatchedOfSeries</p>
        <p>Time spent on games this @Model.Period: @Model.TimeSpentOnGamesInMinutes</p>
        <p>Pages read of books this @Model.Period: @Model.PagesReadOfBooks</p>
    }
    else 
    {
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-title">Welcome to MyLibrary!</h1>
                <p class="card-text">MyLibrary is a webbapp that lets you keep track on films you've seen, books you've read and much more bla bla bla bla bla bla bla bla bla bla bla...</p>
                <a asp-controller="Account" asp-action="Register" asp class="btn btn-primary">Register</a>
                <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Login</a>
            </div>
        </div>
    }
}





